
#header_label {
    height: 80px;
    /* background: url(/static/pbp2011/images/header-background.jpg) no-repeat; */
     background: url(../images/header-background.jpg) no-repeat;
    padding-top: 30px;
    padding-left: 20px;
    margin-bottom: 10px;
}

.nav { border-bottom: 1px solid #888; clear: both; /* ?? */}
.nav { float: left; position: relative; width: 100%;}
.nav { background: #fff url(../images/whtgrad.png) repeat-x; }
.nav ul { magin: 0 auto; margin:0 0 0 0; padding: 0; list-style: none; }
.nav li { float: left; margin: 0; padding:0; }  /* line them up side by side; */
.nav a { border-bottom: none; border-right: 1px solid #ddd; color: #555;
  float: left; letter-spacing: 0px; margin: 0;
  padding: 4px 15px; text-decoration: none;
}
/* .nav li.active a { background: #888 url(../images/blkgrad.png) repeat-x; color: #eee; } */
.nav li.active a { background: #999; color: #fff; }

#primary.nav { padding-top: 0px;}
#primary.nav { font: normal 14px Verdana,Arial,Helvetica,sans-serif;}
#primary.nav { border-bottom: 1px solid #555; }	       
#primary.nav a { font-size: 14px;}

#secondary.nav { font: normal 12px Verdana,Arial,Helvetica,sans-serif;}
#secondary.nav a { font-size: 12px;}

#right_button { float: right; }

#crumbs ul, #crumbs li {
    display: inline;
    list-style-type: none;
    margin: 0;
    font-size: 12px;
}

div#main { padding-top: 20px; }
