
{% set title = "PBP 2011 Results for " + country %}

{% extends "base.html" %}

{% block main %}

<hr class="top-hr" />
<div id="crumbs">
  <ul>
    <li><a href="{{'pbp2011.views.country'|url}}">Country</a>
    <li>&gt;
    <li>{{country}}
  <ul>
  <hr class="top-hr" />
</div>

<table>
<tr>
  <td><a href="?sort=frame">Frame</a></td>
  <td><a href="?sort=name">First Name</a></td>
  <td><a href="?sort=name">Last Name</a></td>
  <td><a href="?sort=time">Time</a></td>
</tr>
{% for rider in riders %}
<tr>
  <td><a href="{{ 'pbp2011.views.frame'|url(rider.frame_number) }}">{{rider.frame_number}}</a></td>
  <td>{{rider.first_name}}</td>
  <td>{{rider.last_name}}</td>
  <td>{{status(rider)}}</td>
</tr>
{% endfor %}
</table>

{% endblock main %}
