
{% set title = "PBP 2011 Results by Country" %}

{% extends "base.html" %}

{% block main %}
<h3>Country Totals:</h3>

<table>
<tr>
  <td><a href="{{ 'pbp2011.views.country'|url }}">Country</a></td>
  <td><a href="{{ 'pbp2011.views.country'|url }}?sort=registered">Registered</a></td>
  <td>DNS</td>
  <td>DNF</td>
  <td><a href="{{ 'pbp2011.views.country'|url }}?sort=rate">Finish Rate</a></td>
</tr>
{% for result in results %}
<tr>
  <td><a href="{{ 'pbp2011.views.country_detail'|url(result.cc) }}">{{country_names[result.cc]}}</td>
  <td>{{result.registered}}</td>
  <td>{{result.dns}}</td>
  <td>{{result.dnf}}</td>
  <td>{{result.finish_rate()}}%</td>
</tr>
{% endfor %}
<tr><td>&nbsp;</td></tr>
<tr>
  <td>Total:</td>
  <td>{{registered}}</td>
  <td>{{total_dns}}</td>
  <td>{{total_dnf}}</td>
  <td>{{overall_finish_rate}}%</td>
</tr>
</table>

{% endblock main %}
