
{% set title = "Results for rider %s %s" % (rider.first_name, rider.last_name) %}

{% extends "base.html" %}

{% block main %}

<hr class="top-hr" />
<div id="crumbs">
  <ul>
    <li><a href="{{'pbp2011.views.country'|url}}">Country</a>
    <li>&gt;
    <li><a href="{{'pbp2011.views.riders'|url(rider.country)}}">{{rider.country.name}}</a>
    <li>&gt;
    <li>{{rider.frame_number}}
  <ul>
  <hr class="top-hr" />
</div>

<h3>Rider {{rider.frame_number}}: {{rider.first_name}} {{rider.last_name}}</h3>

<table class="ridedata" style="width: 500px;">
<tr>
  <th>Location</th>
  <th>Distance</th>
  <th>Date</th>
  <th>Elapsed</th>
</tr>
{% for waypoint in waypoints %}
<tr>
  <td>{{waypoint.name}}</td>
  <td>{{waypoint.kilometers}}</td>
  <td>{% if waypoint.timestamp %}{{waypoint.timestamp.strftime("%m/%d %H:%M")}}{% endif %}</td>
  <td>{{waypoint.elapsed|format_ride_time(show_special=False)}}</td>
</tr>
{% endfor %}
</table>

{% endblock main %}
