
{% set title = "PBP 2011 Results Viewer Help" %}

{% set help_class = 'class="active"' %}
{% set help_about_class = 'class="active"' %}

{% extends "help.html" %}

{% block main %}

<div class="helptext" style="width: 600px; padding-top: 40px; padding-left: 20px">

<h3>About the Data</h3>

The PBP Results Viewer is based upon information obtained from the
rider tracking page on the official site with a bit of cleanup. Any
errors are probably my own.  
<p>
The ACP may make adustments that are not reflected in the this data nor in the the source data on the ACP tracking website.


<h3>Database</h3>
You can download the sqlite database <a href="http://pbpresults.bikeaholics.org/ridedata.sqlite">HERE</a>.

<h3>Code</h3>
You can view the code that runs this site <a href="http://github.com/dpb1857/ridetracker">HERE</a>.

<p>
Additional packages used by this site:
<p>
<table>
<tr><td><a href="http://www.python.org">Python</a></td></tr>
<tr><td><a href="http://www.djangoproject.com">Django</a></td></tr>
<tr><td><a href="http://lxml.de">lxml</a></td><td> screen-scraping the data</td></tr>
<tr><td><a href="http://jinja.pocoo.org/docs"</a>Jinja2</a></td><td>Templates</td></tr>
<tr><td><a href="http://gunicorn.org"</a>Gunicorn</a></td><td>wsgi server</td></tr>
<tr><td><a href="http://werkzeug.pocoo.org">Werkzeug</a></td><td>Debugger</td></tr>
<tr><td><a href="http://south.aeracode.org/docs">South</a></td><td>Database schema management</td></tr>
<tr><td><a href="http://code.google.com/p/django-countries">django-countries</a></td><td>Country code to name mapping</td></tr>
<tr><td><a href="http://nginx.net">nginx</a></td><td> front-end web server</td></tr>
<tr><td><a href="http://supervisord.org">supervisord</a></td><td>process control</td></tr>
<tr><td><a href="http://www.sqlite.org">sqlite</a></td><td>database</td></tr>
</table>

</div>

<h3>Questions or Comments</h3>

You may send questions or comments to <a href="mailto:dpb@donbennett.org?subject=PBP%20Results%20Viewer%20Questions%20or%20Comments">Don Bennett</a>.

{% endblock main %}
