
{% extends "base.html" %}

{% block main %}

{% block breadcrumbs %} 
{% endblock breadcrumbs %}

{% set width = 800 if show_country else 600 %}
<br>
<table class="ridedata" style="width: {{width}}px;">
<tr>
  <th><a href="?sort=frame">Frame</a></th>
  <th><a href="?sort=name">First Name</a></th>
  <th><a href="?sort=name">Last Name</a></th>
{% if show_country %}
  <th>Country</th>
{% endif %}
  <th><a href="?sort=time">Time</a></th>
</tr>
{% for rider in riders %}
<tr>
  <td><a href="{{ 'pbp2011.views.frame'|url(rider.frame_number) }}">{{rider.frame_number}}</a></td>
  <td>{{rider.first_name}}</td>
  <td>{{rider.last_name}}</td>
{% if show_country %}
  <td>{{rider.country.name}}</td>
{% endif %}
  <td>{{rider.elapsed|format_ride_time(show_special=True)}}</td>
</tr>
{% endfor %}
</table>

{% endblock main %}
